/* reset */

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Light.ttf');
}

:root {
    font-size: calc(0.7em + 1vw);

    --dark-grey: #202336;
    --medium-dark-grey: #80918E;
    --medium-grey: #7d7987;
    --light-grey: #b8becd;
    --white: #ffffff;

    --background: var(--white);
    --text: var(--dark-grey);
    --navbar-text: var(--light-grey);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--text);
}

body {
    box-sizing: border-box;
    font: 100% sans-serif;
    color: var(--text);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* utils */
.big {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1rem;
}

/* navbar */
.navbar {
    background-image: var(--background);
    padding: 1em 0;
}

.menu {
    text-align: center;
    list-style: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: none;
}

.menu > li + li {
    margin-top: 1em;
}

.menu > li:first-child {
    margin-top: 1.5em;
}

.menu > li a {
    font: normal 100% 'Inter';
    color: var(--navbar-text);
}

.menu > li a:hover,
.menu > li a:active {
    color: var(--text);
}

.active {
    display: block;
}

.logo {
    font-size: 1.2rem;
}

.burger-icon {
    position: absolute;
    right: 2em;
    top: 1.5em;
    fill: var(--text);
    cursor: pointer;
}

/* hero */

header {
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headings {
    font-family: 'Playfair';
    text-align: center;
}

.heading-1 {
    font-weight: 700;
}

.heading-2 {
    font-weight: 400;
}

.hero-container {
    max-width: 65vw;
    width: 100%;
}

.hero-container > object {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
}

/* Info Section */
.info-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.info-image {
    max-width: 65vw;
    width: 100%;
    margin-top: 1em;
}

.info-image > object {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.content {
    font: 100 100% 'Muli';
    color: var(--medium-grey);
    line-height: 30px;
    margin-top: 1em;
}

.info-content > object {
    display: none;
}

/* Card Section */
.card-container {
    margin-top: 3em;
}

.card-container > h1 {
    margin-bottom: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    position: relative;
    display: block;
    min-width: 13em;
    min-height: 16em;;
    width: 13em;
    height: 16em;
    margin-bottom: 2em;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    border-bottom-right-radius: .5em;
    overflow: hidden;
}

.card--1 {
    background: url("../images/card-1.png") top/cover no-repeat;
}

.card--2 {
    background: url("../images/card-2.png") top/cover no-repeat;
}

.card--3 {
    background: url("../images/card-3.png") top/cover no-repeat;
}

.card--4 {
    background: url("../images/card-4.png") top/cover no-repeat;
}


.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 1em 1em 0 0;
    border-top-right-radius: 1em;
}

.card-info > h3 {
    color: var(--dark-grey);
    font-size: .8rem;
}

.card-info > h4 {
    color: var(--medium-dark-grey);
    font-size: .7rem;
    margin-top: .3em;
}

.card::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background: linear-gradient(to right, rgba(9, 132, 94, .7), rgba(54, 209, 164, 1));
    border-top-right-radius: 3em;
    border-bottom-right-radius: 4em;
    transition: 1s ease-out;
}

.card:hover::before {
    height: 120%;
    width: 120%;
}

/* .card:hover::before {

} */

/* Media Querys */
@media (min-width: 30em) {
    .hero-image {
        width: 70%;
    }
}

@media (min-width: 50em) {
    :root {
        font-size: calc(0.3em + 1vw);
    }

    .burger-icon {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
    }

    .menu {
        display: flex;
    }

    .menu > li + li {
        margin-top: 0;
        margin-left: 2em;
    }

    .menu > li:first-child {
        margin-top: 0;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .headings {
        margin-top: -1em;
    }

    .headings > .heading-1 {
        font-size: 3rem;
    }

    .headings > .heading-2 {
        font-size: 1.5rem;
    }

    .hero-container {
        max-width: 45vw;
    }

    .hero-container > object {
        width: 100%;
        margin-right: -5em;
    }

    .info-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .info-content {
        max-width: 50%;
        margin-left: 4em;
        position: relative;
    }

    .info-content > object {
        display: block;
        position: absolute;
        top: -4em;
        left: 0;
    }
}