/* reset */

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Light.ttf');
}

:root {
    font-size: calc(0.7em + 1vw);

    --dark-grey: #202336;
    --medium-dark-grey: #80918e;
    --medium-grey: #7d7987;
    --light-grey: #b8becd;
    --white: #ffffff;

    --background: var(--white);
    --text: var(--dark-grey);
    --navbar-text: var(--light-grey);

    --mt: 8em;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--text);
}

body {
    box-sizing: border-box;
    font: 100% sans-serif;
    color: var(--text);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* utils */
.big {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1rem;
}

/* navbar */
.navbar {
    background-image: var(--background);
    padding: 1em 0;
}

.menu {
    text-align: center;
    list-style: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: none;
}

.menu > li + li {
    margin-top: 1em;
}

.menu > li:first-child {
    margin-top: 1.5em;
}

.menu > li a {
    font: normal 100% 'Inter';
    color: var(--navbar-text);
}

.menu > li a:hover,
.menu > li a:active {
    color: var(--text);
}

.active {
    display: block;
}

.logo {
    font-size: 1.2rem;
}

.burger-icon {
    position: absolute;
    right: 2em;
    top: 1.5em;
    fill: var(--text);
    cursor: pointer;
}

/* hero */

header {
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headings {
    font-family: 'Playfair';
    text-align: center;
}

.heading-1 {
    font-weight: 700;
}

.heading-2 {
    font-weight: 400;
}

.hero-container {
    max-width: 65vw;
    width: 100%;
}

.hero-container > object {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
}

/* Info Section */
.info-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--mt);
}

.info-image {
    max-width: 65vw;
    width: 100%;
    margin-top: 1em;
}

.info-image > object {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.content {
    font: 100 100% 'Muli';
    color: var(--medium-grey);
    line-height: 30px;
    margin-top: 1em;
}

.info-content > object {
    display: none;
}

/* Card Section */
.card-container {
    margin-top: var(--mt);
}

.card-container > h1 {
    margin-bottom: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    position: relative;
    display: block;
    min-width: 13em;
    min-height: 16em;
    width: 13em;
    height: 16em;
    margin-bottom: 2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    overflow: hidden;
}

.card--1 {
    background: url('../images/card-1.png') top/cover no-repeat;
}

.card--2 {
    background: url('../images/card-2.png') top/cover no-repeat;
}

.card--3 {
    background: url('../images/card-3.png') top/cover no-repeat;
}

.card--4 {
    background: url('../images/card-4.png') top/cover no-repeat;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    padding: 1em 1em 0 0;
    border-top-right-radius: 1em;
}

.card-info > h3 {
    color: var(--dark-grey);
    font-size: 0.8rem;
}

.card-info > h4 {
    color: var(--medium-dark-grey);
    font-size: 0.7rem;
    margin-top: 0.3em;
}

.card::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background: linear-gradient(
        to right,
        rgba(9, 132, 94, 0.7),
        rgba(54, 209, 164, 1)
    );
    border-top-right-radius: 3em;
    border-bottom-right-radius: 4em;
    transition: 1s ease-out;
}

.card:hover::before {
    height: 130%;
    width: 130%;
}

.testimonials-container {
    margin-top: var(--mt);

    margin-bottom: 1em;
}

.testimonials-container > h1 {
    margin-bottom: 2em;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars > object + object {
    margin-left: 0.5em;
}

.testimonials-content .content {
    width: 100%;
    color: var(--dark-grey);
    margin-bottom: 2em;
}

.testimonials-content h4 {
    margin-bottom: 0.4em;
}

.testimonials-content .testimonials-content--left {
    margin-bottom: 3em;
}

.slider {
    position: relative;
    max-height: 28em;
    width: 20em;
    overflow: hidden;
}

.slider ul {
    display: flex;
    list-style: none;
}

.moveRight {
    background: red;
}

.slider > .slider-control {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ffffff;
}

.slider > .slider-control {
    padding: 0.7em 0 0 1.5em;
    border-top-left-radius: 1em;
}

.slider > .slider-control svg {
    stroke: #d7d7d7;
    cursor: pointer;
}

.slider > .slider-control svg:hover {
    stroke: #000000;
}

footer {
    margin-top: var(--mt);
}

.footer-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-options .columns {
    text-align: center;
    margin-top: 3em;
}

.footer-options .columns ul {
    list-style: none;
}

.footer-options .columns > h4:first-child {
    margin-bottom: 1em;
}

.footer-options .columns:first-child > p {
    margin-bottom: 1em;
}

.social-medias {
    padding-bottom: 1.5em;
}

.social-medias ul {
    width: 70%;
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/*

.footer-options .columns {
    max-width: 15%;
    font-size: 0.8rem;
}

.footer-options .columns:first-child {
    max-width: 25%;
}

*/

/* Media Querys */
@media (min-width: 30em) {
    .hero-image {
        width: 70%;
    }
}

@media (min-width: 50em) {
    :root {
        font-size: calc(0.3em + 1vw);
    }

    .burger-icon {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
    }

    .menu {
        display: flex;
    }

    .menu > li + li {
        margin-top: 0;
        margin-left: 2em;
    }

    .menu > li:first-child {
        margin-top: 0;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .headings {
        margin-top: -1em;
    }

    .headings > .heading-1 {
        font-size: 3rem;
    }

    .headings > .heading-2 {
        font-size: 1.5rem;
    }

    .hero-container {
        max-width: 45vw;
    }

    .hero-container > object {
        width: 100%;
        margin-right: -5em;
    }

    .info-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .info-content {
        max-width: 50%;
        margin-left: 4em;
        position: relative;
    }

    .info-content > object {
        display: block;
        position: absolute;
        top: -4em;
        left: 0;
    }

    .testimonials-content {
        flex-direction: row;
    }

    .testimonials-content .content {
        width: 80%;
    }

    .footer-options {
        flex-direction: row;
    }

    .footer-options .columns {
        max-width: 15%;
        font-size: 0.8rem;
        text-align: initial;
    }
    
    .footer-options .columns:first-child {
        max-width: 25%;
    }

    .social-medias ul {
        width: 30%;
    }
}
